* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.55);
}



body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#root {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    background-color: #1E1E1E;
    padding: 10px;
}

.App {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;

}

.navbar {
    border-radius: 20px;
    font-size: 18px;

}

.navbar-brand {
    margin-right: 0;
}

.navigation-buttons-container {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: #FFE5F7;
    color: rgb(33, 37, 41);
}

.btn:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid #FFE5F7;
}

main {

    width: 100%;
    height: 100%;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


.credit-card-greet{
    background-image: url('../src/credit-card-animated.gif');
    width: 400px;
    height: 400px;
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
}


.home-container h3 {
    font-size: 20px;
}

.home-container h1 {
    color: white;
    font-size: 50px;
}

.home-phone-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.home-phone {
    height: 460px;
    width: 270px;
    border: 2px solid white;
    border-radius: 26px;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1B252C;
}

.home-phone nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 40px;
    width: 100%;
}

.home-phone nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-card {
    width: 215px;
    height: 110px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    perspective: 1000px;

}

.flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.phone-card:hover .flip-card-inner {
    transform: rotateX(-180deg);
}


.phone-card-front,
.phone-card-back {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    
}

.phone-card-front {
    background-color: #282A39;

}

.phone-card-front::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #FFE5F7;
}


.phone-card-back {
    background-color: #FFE5F7;
    color: #282A39;
    transform: rotateX(-180deg);
}

.phone-card-back::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #282A39;

}

.phone-card-balance-side,
.phone-card-back-balance-side {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.phone-card-type-side,
.phone-card-back-type-side {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}


.phone-card-type-side span,
.phone-card-back-type-side span {
    position: relative;
}

.phone-card-type-side span::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFE5F7;
}

.phone-card-back-type-side::after{
    background-color: #282A39;
    content: '';
    position: absolute;
    bottom: 22px;
    right: 37px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#card-number,
#card-expiry,
#card-back-number,
#card-back-expiry {
    font-size: 14px;
}

#card-expiry {
    color: rgba(255, 255, 255, 0.55);
}

#card-back-expiry {
    color: #282A39;
}

.phone-credit-limits-container {
    width: 235px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.credit-limits {
    height: 58px;
    width: 105px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #FFE5F7;
    color: rgb(33, 37, 41);
    padding-left: 10px;
}

.credit-limits span {
    font-size: 13px;
}

.phone-transaction-history-container {
    height: 135px;
    color: white;
}

#history {
    margin-bottom: 10px;
}

.transaction-history {
    height: 100%;
}

.transaction-history ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    overflow-y: scroll;
    height: 110px;
    padding-bottom: 30px;
}

.transaction-history ul::-webkit-scrollbar {
    background: transparent;
}

.transaction-history ul>li {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.transaction-history ul>li>div {
    display: flex;
    align-items: start;
    width: 50%;
    justify-content: space-between;
}

.transaction-history ul>li>div svg {
    color: #FFE5F7;
}

.transaction-history ul>li>div>div {
    display: flex;
    flex-direction: column;
    color: white;
}

.transaction-type {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.55);
}


.phone-bottom-nav-container {
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #3d3e4c;
}



.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container form {
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
}












@media screen and (min-width:2560px) {
    .navbar {
        font-size: 26px;
    }

    .navigation-buttons-container {
        width: 240px;
    }

    .btn {
        font-size: 24px;
    }

    .btn svg {
        width: 24px;
        height: 24px;
    }

    .home-phone {
        width: 18%;
    }

    .home-phone-container nav>div {
        font-size: 26px;
    }

    .home-phone-container nav>svg {
        width: 32px;
        height: 32px;
    }

    .home-intro h1 {
        font-size: 80px;
    }

    .home-intro h3 {
        font-size: 40px;
    }



    .phone-card {
        height: 25%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 28px;
    }

    #card-number,
    #card-expiry {
        font-size: 24px;
    }

    .phone-credit-limits-container {
        height: 18%;
    }

    .credit-limits {
        width: 40%;
    }

    .credit-limits span {
        font-size: 18px;
    }

    .transaction-history ul>li>div>svg {
        width: 26px;
        height: 26px;
    }

    #history {
        font-size: 26px;
    }

    .transaction-history ul>li {
        font-size: 22px;
    }

    .transaction-type {
        font-size: 18px;
    }

    .phone-bottom-nav-container svg {
        width: 24px;
        height: 24px;
    }
}



@media screen and (min-width:2201px) and (max-width:2559px) {
    .navbar {
        font-size: 26px;
    }

    .navigation-buttons-container {
        width: 240px;
    }

    .btn {
        font-size: 24px;
    }

    .btn svg {
        width: 24px;
        height: 24px;
    }

    .home-intro h1 {
        font-size: 80px;
    }

    .home-intro h3 {
        font-size: 40px;
    }

    .home-phone {
        width: 19%;
    }

    .home-phone-container nav>div {
        font-size: 26px;
    }

    .home-phone-container nav>div svg {
        width: 26px;
        height: 26px;
    }

    .home-phone-container nav>svg {
        width: 26px;
        height: 26px;
    }


    .phone-card {
        height: 25%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 24px;
    }

    #card-number,
    #card-expiry {
        font-size: 22px;
    }

    .phone-credit-limits-container {
        height: 18%;
    }

    .credit-limits {
        width: 40%;
    }

    .credit-limits span {
        font-size: 18px;
    }

    .transaction-history ul>li>div {
        width: 45%;
    }

    .transaction-history ul>li>div>svg {
        width: 24px;
        height: 24px;
    }

    #history {
        font-size: 26px;
    }

    .transaction-history ul>li {
        font-size: 22px;
    }

    .transaction-type {
        font-size: 18px;
    }

    .phone-bottom-nav-container svg {
        width: 20px;
        height: 20px;
    }
}



@media screen and (min-width:2001px) and (max-width:2200px) {
    .navbar {
        font-size: 26px;
    }

    .navigation-buttons-container {
        width: 240px;
    }

    .btn {
        font-size: 24px;
    }

    .btn svg {
        width: 24px;
        height: 24px;
    }

    .home-intro h1 {
        font-size: 80px;
    }

    .home-intro h3 {
        font-size: 40px;
    }

    .home-phone {
        width: 21%;
    }

    .home-phone-container nav>div {
        font-size: 26px;
    }

    .home-phone-container nav>div svg {
        width: 26px;
        height: 26px;
    }

    .home-phone-container nav>svg {
        width: 26px;
        height: 26px;
    }


    .phone-card {
        height: 25%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 24px;
    }

    #card-number,
    #card-expiry {
        font-size: 22px;
    }

    .phone-credit-limits-container {
        height: 18%;
    }

    .credit-limits {
        width: 40%;
    }

    .credit-limits span {
        font-size: 18px;
    }

    .transaction-history ul>li>div {
        width: 45%;
    }

    .transaction-history ul>li>div>svg {
        width: 24px;
        height: 24px;
    }

    #history {
        font-size: 26px;
    }

    .transaction-history ul>li {
        font-size: 22px;
    }

    .transaction-type {
        font-size: 18px;
    }

    .phone-bottom-nav-container svg {
        width: 20px;
        height: 20px;
    }
}




@media screen and (min-width:1801px) and (max-width:2000px) {
    .navbar {
        font-size: 20px;
    }

    .navigation-buttons-container {
        width: 240px;
    }

    .btn {
        font-size: 20px;
    }

    .btn svg {
        width: 20px;
        height: 20px;
    }

    .home-intro h1 {
        font-size: 60px;
    }

    .home-intro h3 {
        font-size: 28px;
    }

    .home-phone {
        width: 20%;
    }

    .home-phone-container nav>div {
        font-size: 20px;
    }

    .home-phone-container nav>svg {
        width: 22px;
        height: 22px;
    }


    .phone-card {
        height: 25%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 20px;
    }

    #card-number,
    #card-expiry {
        font-size: 18px;
    }

    .phone-credit-limits-container {
        height: 17%;
    }

    .credit-limits {
        width: 40%;
        height: 75%;

    }

    .credit-limits span {
        font-size: 14px;
    }

    .transaction-history ul>li>div {
        width: 45%;
    }

    .transaction-history ul>li>div>svg {
        width: 20px;
        height: 20px;
    }

    #history {
        font-size: 20px;
    }

    .transaction-history ul>li {
        font-size: 18px;
    }

    .transaction-type {
        font-size: 16px;
    }

    .phone-bottom-nav-container svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width:1900px) and (max-width:2000px) {
    .home-phone {
        width: 19% !important;
    }
}



@media screen and (min-width:1400px) and (max-width:1800px) {
    .navbar {
        font-size: 18px;
    }



    .btn {
        font-size: 18px;
    }

    .btn svg {
        width: 18px;
        height: 18px;
    }

    .home-intro h1 {
        font-size: 50px;
    }

    .home-intro h3 {
        font-size: 22px;
    }

    .home-phone {
        width: 20%;
    }

    .home-phone-container nav>div {
        font-size: 16px;
    }

    .home-phone-container nav>svg {
        width: 18px;
        height: 18px;
    }


    .phone-card {
        height: 26%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 16px;
    }

    #card-number,
    #card-expiry {
        font-size: 14px;
    }

    .phone-credit-limits-container {
        height: 19%;
    }

    .credit-limits {
        width: 50%;
    }



    .transaction-history ul>li>div>svg {
        width: 20px;
        height: 20px;
    }

    #history {
        font-size: 16px;
    }

    .transaction-history ul>li {
        font-size: 16px;
    }

    .transaction-type {
        font-size: 14px;
    }

    .phone-bottom-nav-container svg {
        width: 16px;
        height: 16px;
    }
}


@media screen and(min-width:1650px) and(max-width:1800px) {
    .transaction-history ul>li>div {
        width: 45% !important;
    }
}

@media screen and (min-width:1330px) and (max-width:1500px) {
    .navbar {
        font-size: 18px;
    }



    .btn {
        font-size: 18px;
    }

    .btn svg {
        width: 18px;
        height: 18px;
    }

    .home-intro h1 {
        font-size: 50px;
    }

    .home-intro h3 {
        font-size: 22px;
    }

    .home-phone {
        width: 22%;
    }

    .home-phone-container nav>div {
        font-size: 16px;
    }

    .home-phone-container nav>svg {
        width: 18px;
        height: 18px;
    }


    .phone-card {
        height: 26%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 16px;
    }

    #card-number,
    #card-expiry {
        font-size: 14px;
    }

    .phone-credit-limits-container {
        height: 19%;
    }

    .credit-limits {
        width: 42%;
    }

    .credit-limits span {
        font-size: 12px;
    }



    .transaction-history ul>li>div>svg {
        width: 20px;
        height: 20px;
    }

    #history {
        font-size: 16px;
    }

    .transaction-history ul>li {
        font-size: 16px;
    }

    .transaction-type {
        font-size: 14px;
    }

    .phone-bottom-nav-container svg {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width:1350px) and (max-width:1400px) {
    .transaction-history ul>li>div {
        width: 50% !important;
    }
}

@media screen and (min-width:1501px) and (max-width:1800px) {
    .credit-limits {
        width: 45% !important;
        height: 73%;
    }
}



@media screen and (min-width:1200px) and (max-width:1329px) {
    .navbar {
        font-size: 18px;
    }



    .btn {
        font-size: 18px;
    }

    .btn svg {
        width: 18px;
        height: 18px;
    }

    .home-intro h1 {
        font-size: 50px;
    }

    .home-intro h3 {
        font-size: 22px;
    }

    .home-phone {
        width: 23%;
    }

    .home-phone-container nav>div {
        font-size: 16px;
    }

    .home-phone-container nav>svg {
        width: 18px;
        height: 18px;
    }


    .phone-card {
        height: 26%;
    }

    .phone-card-balance-side,
    .phone-card-type-side {
        font-size: 16px;
    }

    #card-number,
    #card-expiry {
        font-size: 14px;
    }

    .phone-credit-limits-container {
        height: 19%;
    }

    .credit-limits {
        width: 45% 
    }

    .credit-limits span {
        font-size: 12px;
    }



    .transaction-history ul>li>div>svg {
        width: 20px;
        height: 20px;
    }

    #history {
        font-size: 16px;
    }

    .transaction-history ul>li {
        font-size: 16px;
    }

    .transaction-type {
        font-size: 14px;
    }

    .phone-bottom-nav-container svg {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width:1350px) and (max-width:1400px) {
    .transaction-history ul>li>div {
        width: 50% !important;
    }
}

@media screen and (min-width:1501px) and (max-width:1800px) {
    .credit-limits {
        width: 45% !important;
        height: 73%;
    }
}


